<div *ngIf='OurservicescustomerService.OrderList.length <= 0'>
    Empty
</div>

<div class="row" *ngIf='OurservicescustomerService.OrderList.length > 0'>
    <div class="col-md-12">
        <div class="table-responsive-lg table-responsive-md table-responsive-sm">

            <table class="table table-sm table-hover mytable">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                         
                        </th>
                        <th>
                            Quentity
                        </th>
                        <th>
                            
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                   
                </thead>
                <tbody>
                    <tr *ngFor='let O of OurservicescustomerService.OrderList let i = index'>
                        <td>
                            {{O.name}}
                        </td>
                        <td>
                            {{O.price}}
                        </td>
                        <td>
                            <button (click)='minus(O)' class="blue fluid ui button">
                                <i class="fas fa-minus-square"></i>
                            </button>
                        </td>
                        <td>
                            {{O.Quantity}}
                        </td>
                        <td> 
                            <button (click)='Pluss(O)' class="green fluid ui button">
                                <i class="fas fa-plus"></i>
                            </button>
                        </td>
                        <td>
                            <button (click)='Delete(O,i)' class="red fluid ui button">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total Price</td>
                        <td >
                            {{OurservicescustomerService.TotalPrice}}$
                        </td>
                        <td>
                            <button (click)='ChangeStatus()' *ngIf='Status' class="yellow fluid ui button">
                                <i class="fab fa-cc-visa"></i></button>
                        </td>
                        <td>
                            <button (click)='ChangeStatus()' *ngIf='!Status' class="blue fluid ui button"><i class="fas fa-hand-holding-usd"></i></button>
                        </td>
                        <td>
                            <button (click)='Submit()' class="green fluid ui button">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                       
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


