<div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg table-responsive-md table-responsive-sm">
  
        <table class="table table-sm table-hover mytable">
          <thead class="thead-light">
            <tr>
              <th>
                Name
              </th>
              <th>
                Price
              </th>
              <th>
                Quantity
              </th>
              <th>
                Total Price
              </th>
            </tr>
          </thead>
          <tbody>
  
           
            <tr *ngFor="let B Of Bag.Bag.orders">
              <td>
                  <img style="height: 30px; width: 30px;" [src] = 'OurservicesadminService.URLIMG + B.image'>
                {{B.name}}
              </td>
              <td>
                {{B.price}} $
              </td>
              <td>
                {{B.quantity}}
              </td>
              <td>
                {{B.quantity * B.price}} $
              </td>
            </tr>
          </tbody>
        </table>
  
      </div>
    </div>
  </div>

