<div class="row">
  <div class="col-md-12">
    <div id='BranchMap' class="BranchMap"></div>
  </div>
</div>

<br>
<hr>
<br>
<div class="row">
  <form class="RegisterForm" method="post" [formGroup]='FormBranchRegiter' (submit)='Submit()'>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="col-md-4 col-sm-12">
        <mat-label>{{MainPortal.Lang['branch name']}}</mat-label>
        <input matInput placeholder="Name" formControlName="Name" required>
        <mat-error *ngIf="FormBranchRegiter.controls.Name.hasError('required')">Name Is Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4 col-sm-12">
        <mat-label>{{MainPortal.Lang['branch description']}}</mat-label>
        <input matInput placeholder="Description" formControlName="Description" required>
        <mat-error *ngIf="FormBranchRegiter.controls.Description.hasError('required')">Description Is Required
        </mat-error>
      </mat-form-field>


      <div class="col-md-4 col-sm-12">

        <button type="button" style="height: 3.7rem; clear: both;" (click)='GetLocation()' class="blue fluid ui button">
          <i class="fas fa-map-marked-alt"></i>
        </button>
      </div>
    </div>

    <br>


    <div class="row">
      
      <div class="col-md-12">
        <button mat-button color="accent" style="float: right; margin: 0 0 0 1rem;" type="submit" [disabled]="FormBranchRegiter.invalid">{{MainPortal.Lang['Submit']}}</button>
        
        <button type="button" mat-button color="warn" style="float: right;" (click)="Clear()">{{MainPortal.Lang['Clear']}}</button>

      </div>
    </div>

    <hr>

  </form>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="table-responsive-lg table-responsive-md table-responsive-sm">

      <table class="table table-sm table-hover mytable">
        <thead class="thead-light">
          <tr>

            <th>
              {{MainPortal.Lang['name']}}
            </th>
            <th>
              
              {{MainPortal.Lang['Position']}}
            </th>
            <th>
              {{MainPortal.Lang['description']}}
              
            </th>
            <th>
              {{MainPortal.Lang['WorkHours']}}
              
            </th>
            <th>
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let B of OurservicesadminService.ListFullBranch'>

            <td>
              {{B.name}}
            </td>
            <td>
              <a style="margin: auto" href="https://www.google.jo/maps/dir//{{B.longitude}},{{B.latitude}}"
                target="_blank">
                <i class="fas fa-map-marked"></i>
              </a>
            </td>
            <td>
              {{B.description}}
            </td>
            <td>
              <div *ngIf='B.startWorkHours != null'>
                {{B.startWorkHours.value.hours}}:{{B.startWorkHours.value.minutes}}:{{B.startWorkHours.value.seconds}}
                => {{B.endWorkHours.value.hours}}:{{B.endWorkHours.value.minutes}}:{{B.endWorkHours.value.seconds}}
              </div>
              <div *ngIf='B.startWorkHours == null'>24 Hours</div>
              <input *ngIf='B.startWorkHours == null' [(ngModel)]="B.StartWorkHours" type="time">
              <input *ngIf='B.startWorkHours == null' [(ngModel)]="B.EndWorkHours" type="time">
              <button *ngIf='B.startWorkHours == null' id="btn" (click)='UpdateWorkHour(B)'
                class="blue fluid ui button">
                {{MainPortal.Lang['Submit']}}
              </button>
              <button *ngIf='B.startWorkHours != null' id="btn" (click)='BackTo24(B)' class="blue fluid ui button">
               
                {{MainPortal.Lang['Back To 24 Hours']}}
              </button>
            </td>
            <td>
              <div class="row">
                <div class="col-3">
                  <button id="btn" (click)='DeleteBranch(B.id)' class="red fluid ui button">
                    <i style="color: white;" class="fas fa-trash-alt"></i>
                  </button>
                </div>
                <div class="col-3">
                  <button id="btn" (click)='UpdateBranch(B)' class="green fluid ui button">
                    <i style="color: white;" class="fas fa-edit"></i>
                  </button>
                </div>
                <div class="col-3">
                  <button id="btn" (click)='UpdateBranchGEO(B)' class="Yellow fluid ui button">
                    <i class="fas fa-chart-area"></i>
                  </button>
                </div>
                <div class="col-3">
                  <button id="btn" (click)='GetBranchDetails(B.id)' class="blue fluid ui button">
                    <i class="fas fa-info-circle"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
