

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive-lg table-responsive-md table-responsive-sm">
           

            <table class="table table-sm table-hover mytable">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Produce Date
                        </th>
                        <th>
                            Expired Date
                        </th>
                        <th>
                            Quantity
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ProduceDate}}
                        </td>
                        <td>
                            {{ExpiredDate}}
                        </td>
                        <td>
                            {{Quantity}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
