
  <div class="row" *ngIf='OurservicesprivateService.DetailsBag.Bag.status > 0'>
    <div class="col-3"></div>
    <div class="col-6" style="
    display: flex;
    flex-direction: row;
    align-items: center;">
      <img style="height: 60px;width: 60px;" *ngIf="OurservicesprivateService.DetailsBag.Delivery.image != ''"
        [src]="OurservicescustomerService.URLIMG + OurservicesprivateService.DetailsBag.Delivery.image">
      <img style="height: 60px;width: 60px;" *ngIf="OurservicesprivateService.DetailsBag.Delivery.image == ''"
        src="../../../../assets/IMG/user.png">
      <hr>
      <div class="row">
        <div class="col-4">{{OurservicesprivateService.DetailsBag.Delivery.nickName}}</div>
        <div class="col-4"></div>
        <div class="col-4">{{OurservicesprivateService.DetailsBag.Delivery.phoneNumber}}</div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <hr>



  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="
        display: flex;
        flex-direction: row;
        align-items: center;
    ">
      <img style="height: 60px;width: 60px;" src="../../../../assets/IMG/first-aid-kit.png">
      <hr>
      <div class="row">
        <div class="col-4">Totoal Price : {{OurservicesprivateService.DetailsBag.Bag.totalPrice}} $</div>
        <div class="col-4">
          <button *ngIf='OurservicesprivateService.DetailsBag.Bag.status' class="green fluid ui button"><i
              class="fab fa-cc-amazon-pay"></i></button>
          <button *ngIf='!OurservicesprivateService.DetailsBag.Bag.status' class="blue fluid ui button"><i
              class="fas fa-hand-holding-usd"></i></button>
        </div>
        <div class="col-4">Date : {{OurservicesprivateService.DetailsBag.Bag.currentDate | date : 'yyyy-MM-dd'}}</div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg table-responsive-md table-responsive-sm">

        <table class="table table-sm table-hover mytable">
          <thead class="thead-light">
            <tr>
              <th>
                Name
              </th>
              <th>
                Price
              </th>
              <th>
                Quantity
              </th>
              <th>
                &nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let P of OurservicesprivateService.DetailsBag.Bag.product">
              <td>
                <div class="row">
                  <div class="col-5">
                    <img style="height: 30px;width: 30px;" [src]="OurservicesprivateService.URLIMG + P.productImage">
                  </div>
                  <div class="col-7">{{P.productName}}</div>
                </div>
              </td>
              <td>
                {{P.productPrice}} $
              </td>
              <td>
                {{P.quantity}}

              </td>
              <td>
                <div *ngIf='OurservicesprivateService.DetailsBag.Bag.status == 3' class="col-6">
                  <button type="button" class="btn btn-success btn-lg btn-block"
                    (click)='Review(P.orderId)'>Review</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <hr>


  <div class="row" *ngIf='OurservicesprivateService.DetailsBag.Bag.status <= 1'>
    <div class="col-md-12">
      <button type="button" class="btn btn-danger btn-lg btn-block" (click)='CancelOrderCustomer()'>Cancel</button>
    </div>
  </div>

  <div class="row" *ngIf='OurservicesprivateService.DetailsBag.Bag.status == 3'>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)='DoneOrderCustomer()'>Done</button>
    </div>
   

  </div>

