

<div class="row">
  <form method="post" [formGroup]='MyForm' (submit)='Submit()'>
    <mat-form-field appearance="fill" hidden>
      <input type="number" readonly matInput placeholder="Id" formControlName="Id" required>
    </mat-form-field>

    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 ">

      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 ">
        <img style="height: 10pc; width: 10pc;" class="center rounded float-center th img-circle" [src]="ImagePreview">
        <hr>
        <input type="file" name="image" (change)="fileProgress($event)" />
        <hr>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 ">

      </div>
    </div>
    <div class="row">
     <div class="col-md-6">
      <mat-form-field appearance="fill" class="col-md-12" >
        <mat-label>{{MainPortal.Lang['name']}}</mat-label>
        <input matInput placeholder="{{MainPortal.Lang['name']}}" formControlName="Name" required>
        <mat-error *ngIf="MyForm.controls.Name.hasError('required')">Name Is Required</mat-error>
      </mat-form-field>
     </div>
     <div class="col-md-6">
      <mat-form-field appearance="fill" class="col-md-12">
        <mat-label>{{MainPortal.Lang['description']}}</mat-label>
        <textarea matInput placeholder="{{MainPortal.Lang['description']}}" formControlName="Description" cols = "200" rows="10" required></textarea>
        <!-- <input matInput placeholder="{{MainPortal.Lang['description']}}" formControlName="Description" required> -->
        <mat-error *ngIf="MyForm.controls.Description.hasError('required')">Description Is Required</mat-error>
      </mat-form-field>
     </div>
    </div>
      
    
      

    
     
    

       <div class="row">
         <div class="col-md-12">
          <button mat-button color="accent" type="submit" style="float: right;margin:0 1rem" [disabled]="MyForm.invalid">{{MainPortal.Lang['Submit']}}</button>
        
          <button type="button" mat-button color="warn" style="float: right;" (click)="Clear()">{{MainPortal.Lang['Clear']}}</button>
        </div>
       </div>
  
  </form>


</div>


<div class="row">
  <div class="col-md-12">
    <div class="table-responsive-lg table-responsive-md table-responsive-sm">

      <table class="table table-sm table-hover mytable">
        <thead class="thead-light">
          <tr>
            <th>
              {{MainPortal.Lang['Category Image']}}
            </th>
            <th>
            
              {{MainPortal.Lang['Category Name']}}
            </th>
            <th>
              {{MainPortal.Lang['description']}}
            </th>
            <th>
              
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Category of OurservicesadminService.ListCategory">
            <td>
              <img style="height: 30px;width: 30px;" [src]="OurservicesadminService.URLIMG + Category.image">
            </td>
            <td>
              {{Category.name}}
            </td>
            <td>
              <pre style="white-space: pre-wrap;">{{Category.description}}</pre>
            </td>
            <td>
              
              
<button id="btn" (click) = 'Edit(Category)' class="green fluid ui button">
  <i style="color: white;" class="fas fa-edit"></i>
</button>
            
            </td>
            <td>
              <button id="btn" (click) = 'Delete(Category.id)' class="red fluid ui button">
                <i style="color: white;" class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
