.container {
    width: 750px;
  }
  
  .col-md-4 {
    border-right-width: 1px solid #ddd;
    padding-right: 10px;
    text-align: left;
  }
  .col-md-4 img {
    width: 95%;
    height: 95%;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: 500px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .container {
      width: 95%;
    }
  }
  