<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio">
  <div class="tabs">
    <label class="tab" id="tab1" for="one">Email</label>
    <label class="tab" id="tab2" for="two">PhoneNumber</label>
  </div>
  <div class="tab-panels">
    <div class="tab-panel" id="tab-panel1">
      <div class="row">
        
          <mat-form-field appearance="fill" class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-label>{{MainPortal.Lang['Email']}} </mat-label>
            <input matInput placeholder="{{MainPortal.Lang['Email']}}" [formControl]="Email" required>
            <mat-error *ngIf="Email.hasError('required')">text Is Required</mat-error>
          </mat-form-field>
          <button mat-button color="accent" style="height: 36px; bottom: -17px;" (click)='SearchContactUsEmail()'
            [disabled]="!Email.valid">{{MainPortal.Lang['Search']}}</button>


        
      </div>
    </div>
    <div class="tab-panel" id="tab-panel2">
      <div class="row">
      
          <mat-form-field appearance="fill" class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-label>{{MainPortal.Lang['PhoneNumber']}}</mat-label>
            <input matInput placeholder="{{MainPortal.Lang['PhoneNumber']}}" [formControl]="PhoneNumber" required>
            <mat-error *ngIf="PhoneNumber.hasError('required')">text Is Required</mat-error>
          </mat-form-field>
          <button mat-button color="accent" style="height: 36px; bottom: -17px;" (click)='SearchContactUsPhoneNumber()'
            [disabled]="!PhoneNumber.valid">{{MainPortal.Lang['Search']}}</button>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive-lg table-responsive-md table-responsive-sm">

          <table class="table table-sm table-hover mytable">
            <thead class="thead-light">
              <tr>

                <th>
                  {{MainPortal.Lang['name']}}
                </th>
                <th>
                  {{MainPortal.Lang['Email']}}
                </th>
                <th>
                  {{MainPortal.Lang['PhoneNumber']}}
                </th>
                <th>
                  {{MainPortal.Lang['text']}}
                </th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contatact of OurservicesadminService.ListContactUs">
                <td>
                  {{contatact.name}}
                </td>
                <td>
                  {{contatact.email}}
                </td>
                <td>
                  {{contatact.phoneNumber}}
                </td>
                <td>
                  {{contatact.message}}
                </td>
                <td>
                  <i class="fas fa-trash-alt" (click)='Delete(contatact.id)'></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>



  </div>
</div>
